// -------------------------------------
// Susy Import
// -------------------------------------
//@import "susy";
// -------------------------------------
// Core Mixins
// -------------------------------------
@import "../core/core/mixins";
// -------------------------------------
// Variables Import
// -------------------------------------
// 載入全域變數
@import "../core/core/variables";
// -------------------------------------
// Components / Modules Setting
// -------------------------------------
// 請輸入您的ClassName
$classname: 'calendars';
// -------------------------------------
// 您的CSS Code
// -------------------------------------
//以下範例可以刪除，改為您自已的CSS Code



  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul li {
    list-style-type:none;
  }
  .calendar{
    overflow: hidden; 
    position: relative;
  }
  .calendars_daymode>.calendars_daysWrap{
    display: flex;
    flex-wrap: wrap;
  }
   .calendars_daymode>.calendars_daysWrap>.days{
        position: relative;
        width: (100%/7);
        min-height: 85px;
        border-left-width: 0;
        border-top-width: 0;
        border: solid 1px #f5f5f5;
        cursor: pointer;
        box-sizing: border-box;
  }

   .calendars_daymode>.calendars_weeksWrap{
    display: flex;
  }
  .calendars_daymode>.calendars_daysWrap>.days>.date>.weekday{
      display: none;
  }

   .calendars_daymode>.calendars_weeksWrap>span{
    flex:1;
  }
  .d-no{
    display: none;
  }


  .calendars_daymode>.calendars_daysWrap>.days.active{
    border: solid 1px #66bb3c;
    background:#fff9e3;
    box-sizing: border-box;

  }

  .clearfix{}

  .calendars_daymode>.calendars_daysWrap>.nextmonth,.calendars_daymode>.calendars_daysWrap>.lastmonth{
    background: #f8f8f8;
     position: relative;
     width: (100%/7);
     min-height: 85px;
     border-left-width: 0;
     border-top-width: 0;
  }
  .clearfix:after{
    clear: both;
  }

.calendars_tabWrap{
  width: 100%;
  display: table;
  background: #ede9dd;
  }


.calendars_tabWrap>.newtab>.tab.now>a {
    background-color: #fff;
    }
.calendars_tabWrap>.newtab>.tab.now>a>span {
    color:#e10500;
    }
.calendars_tabWrap>.newtab>.tab>a>span {
        display: block;
    }

.calendars_tabWrap>.newtab>.tab{
      border-top: 3px solid #ede9dd;
      width: 33.333%;
      box-sizing: border-box;
      text-align: center;
      position: relative;
      display: inline-block;
      height: 50px;
    }

.calendars_tabWrap>.newtab>.tab>a{
    display: inline-block;
    font-size: 16px;
    height: 50px;
    color: #666;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    padding-top: 6px;
   }



.calendars_tabWrap>.newtab{
    padding: 0;
    float: left;
    width: calc(100% - 40px);
    margin-bottom: 0;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
    height: 50px;
    position: relative;
    box-sizing: border-box;
   }

 .calendars_tabWrap>a{
      display: block;
      width: 20px;
      float: left;
      color: transparent;
      position: relative;
    }



.calendars_tabWrap>.next,.calendars_tabWrap>.pre{
      cursor: pointer;
      height: 50px;
    }

.calendars_tabWrap>.next:before {
    right: -1px;
    border-width: 7px 0 7px 7px;
    border-color: transparent transparent transparent #e10500;
   }
.calendars_tabWrap>.pre:before {
    left: -1px;
    border-width: 7px 7px 7px 0;
    border-color: transparent #e10500 transparent transparent;
   }
    .calendars_daymode>.calendars_daysWrap>.days>.date>.num{
    position: relative;
    display: block;
    color: #444;
    font-size: 12px;
  }
   
    .calendars_daymode>.calendars_daysWrap>.days>.price,.calendars_daymode>.calendars_daysWrap>.days>.sell,.calendars_daymode>.calendars_daysWrap>.days>.group,.calendars_daymode>.calendars_daysWrap>.days>.status{
    display: block;
    width: 100%;
    position: relative;
    font-size: 12px;
    }
   .status{
      color:#24a07c;
    }
    .price{
    color: #e10500;
    }
    .sell i,.group i{
      font-style: normal;
    }
.calendars_tabWrap>a:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    }

  .calendars_daymode>.calendars_daysWrap>.days:hover{
    background:#fff9e3;
  }
  /*span 在各種不同字的時候改變顏色*/
  .lg-org{
    color: #ff7800;
  }

  .calendars_daymode>.calendars_daysWrap>.days>.tip{
    position: absolute;
    top: 0;
    right: -1px;
    width: 48px;
    height: 20px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    background-color: #66bb3c;
        font-size: 12px;
  }
  .calendars_daymode>.calendars_daysWrap>.days>.weekday {
          display: none;
          float: left;
        }
.calendars_daymode>.calendars_daysWrap>.listPage{
  display: none;
}


/*------------------listmode---------------*/
  .calendars_listmode>.calendars_weeksWrap{
      display: none;
    }
     .calendars_listmode>.calendars_daysWrap>.days.hasdata{
      display: table;
    }

.calendars_listmode>.calendars_daysWrap>.days{
        width: 100%;
        height: 62px;
        display: none;
        border-style: solid;
        border-color: transparent #e3e3e3 #e3e3e3;
        border-width: 1px;
        cursor: pointer;
        box-sizing: border-box;
  }
  .calendars_listmode>.calendars_daysWrap>.days:hover{
  background:#fff9e3;
  }
  .calendars_listmode>.calendars_daysWrap>.days.active{
  background:#fff9e3;
  border: solid 1px #66bb3c;
  box-sizing: border-box;
  }
  .calendars_listmode>.calendars_daysWrap>.days>.date{
     display: inline-block; 
     text-align: center;
     font-size: 24px;
     float: left;
     padding:0 5px;
   }
  .calendars_listmode>.calendars_daysWrap>.days>.tip{
    float: left;
    padding-top:5px;
    background: #66bb3c;
    text-align: center;
    color: #fff;
    padding: 0 5px;
  }

  .calendars_listmode>.calendars_daysWrap>.days>.date>.weekday{
    text-align: center;
    display: block;
    font-size: 16px;
  }
  .calendars_listmode>.calendars_daysWrap>.days>.price{
    float: right;
    clear: right;
    font-size: 16px;
  }

  .calendars_listmode>.calendars_daysWrap>.days>.status{
    float: right;
    font-size: 16px;
    margin-top: 5px;
  }

   .calendars_listmode>.calendars_daysWrap>.days>.sell{
    display: inline-block;
    padding-right: 30px;
    }
    .calendars_listmode>.calendars_daysWrap>.days>.group{
    display: inline-block;
    padding-right: 30px;
    }
  .listchange{
    cursor: pointer;
  }
  .calendars_listmode>.calendars_daysWrap>.days.hideLis{
    display: none;
  }
.hide{
    // display: none;
  }
.listPage{
     text-align: center;
}

.listPage>.num{
    height: 20px;
    width: 100%;
    text-align: center;
}

.prevList{
  float: left;
}
.nextList{ 
 float: right;
}
  /*calendars_daymode,calendars_listmode*/



  @media screen and (max-width:376px) {

  }
  @media screen and (min-width: $screen-tablet) {
     
  }
  @media screen and (min-width: $screen-desktop) {
    
  }
  @media screen and (min-width: $screen-lg-desktop) {
    
  }
