<div class="frzTable@(model.Modifier != null ? ' ' + model.Modifier : '')">
	<div class="slide_btn slide_left"><i class="icon ic-ln">&#xe608;</i></div>
    <div class="slide_btn slide_right"><i class="icon ic-ln">&#xe63e;</i></div>
     <table class="scroll_left col-md-24">
        <!-- your code here -->
        string
       <tbody class="">
            <tr class="clearfix">
                <td class="clearfix">
                    <div class="col-xs-3 gray"></div>
                </td> 
                <td class="tdwrap clearfix">     
                    <div class="col-xs-3 gray">12/27(三)</div>
                    <div class="col-xs-3 gray">12/28(四)</div>
                    <div class="col-xs-3 gray">12/29(五)</div>
                    <div class="col-xs-3 gray">12/30(六)</div>
                    <div class="col-xs-3 gray">12/31(日)</div>
                    <div class="col-xs-3 gray">01/01(一)</div>
                    <div class="col-xs-3 gray">01/02(二)</div>            
                </td>
@*                 <td class="">
                    <div class="col-xs-3 lightgray"></div>
                </td> 
                <td class="tdwrap clearfix">     
                    <div class="col-xs-3 box">12/27(三)</div>
                    <div class="col-xs-3 box">12/28(四)</div>
                    <div class="col-xs-3 box">12/29(五)</div>
                    <div class="col-xs-3 box">12/30(六)</div>
                    <div class="col-xs-3 box">12/31(日)</div>
                    <div class="col-xs-3 box">01/01(一)</div>
                    <div class="col-xs-3 box">01/02(二)</div>            
                </td> *@
                </tr>
            </tbody>
    </table>
</div>